* {
    margin: 0;
    padding: 0;
}

#container {
    background-color: #03504c;
    width: 100vw;
    height: 100vh;
}


#hd {
    background-color: #bdeec0;
    width: 100%;
    height: 10vh;
}
#mn {
    background-color: #a7a374;
   width: 100%; 
   height: 70vh;
}
#ft {
    background-color: #4f5048;
  width: 100%;  
  height: 20vh;
}